[Unit]
Description=Portal Kombat Daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/portalkombatd
WorkingDirectory=/usr/local/bin

# Environment
Environment=PATH=/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin

# Logging
StandardOutput=append:/tmp/portalkombatd.log
StandardError=append:/tmp/portalkombatd.err

# RunAtLoad + KeepAlive
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
